<header>
	<h2>{{ contact.FullName() }}</h2>
</header>
<section>
	<header>
		<h3>Addresses</h3>
	</header>
	<table>
		<tr ng-repeat="address in contact.Addresses">
			<th>{{ address.Type }}</th>
			<td>
				<span>{{ address.CompanyName }}</span>
				<span>{{ address.StreetAddress }}</span>
				<span>{{ address.Suite }}</span>
				<span>{{ address.City }}, {{ address.State }} {{ address.Zip }}</span>
			</td>
		</tr>
	</table>
</section>
<section>
	<button ng-click="edit()">Edit</button>
	<button ng-click="delete()">Delete</button>
	<button ng-click="done()">Done</button>
</section>