<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>CISH-6510 Address Book</title>
	<link href="/css/addressbook.css" rel="stylesheet" />
</head>
<body ng-app="addressBookApp">
	<header>
		<h1>CISH-6510 Address Book</h1>
	</header>
	<div ng-controller="ContactsController as vm">
		<div id="ContactList">
			<ol>
				<li ng-repeat="contact in vm.contacts" ng-click="vm.toggle(contact)" ng-class="vm.isOpenClass(contact)">{{ contact.lastName }}, {{ contact.firstName }}</li>
			</ol>
		</div>
		<article id="ContactDetails" ng-view></article>
	</div>
	<script src="/lib/angular/angular.min.js"></script>
	<script src="/lib/angular-resource/angular-resource.min.js"></script>
	<script src="/lib/angular-route/angular-route.min.js"></script>
	<script src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="/addressBookApp/addressBookApp.module.js"></script>
	<script src="/addressBookApp/core/core.module.js"></script>
	<script src="/addressBookApp/contacts/contacts.module.js"></script>
	<script src="/addressBookApp/core/services/contact.service.js"></script>
	<script src="/addressBookApp/contacts/contacts.routes.js"></script>
	<script src="/addressBookApp/contacts/contacts.controller.js"></script>
	<script src="/addressBookApp/contacts/contactDetail.controller.js"></script>
</body>
</html>