body {
	width: 960px;
	margin: 1em auto;
}

#ContactList {
	margin: 0 12px 0 0;
	float: left;
	width: 180px;
}

#ContactList ol {
	list-style: none;
	padding: 0;
}

#ContactList ol li.selected {
	background: #0088cc;
	color: #fff;
}

#ContactDetails {
	float: left;
	width: 768px;
}

section {
	border-top: solid 1px #333;
	padding: 1em 0;
	width: 100%;
}

section header {
	margin-bottom: 1em;
}

section header h3 {
	margin: 0;
}

table tr {
	vertical-align: top;
}

table th {
	padding-right: 11px;
	text-align: right;
	width: 80px;
}

table td span, input.block {
	display: block;
}